<p id="notice"><%= notice %></p>

<%= @note.user_giver.displayname %> <%= @note.user_receiver.displayname unless @note.user_receiver.nil? %> <%= @note.content %><br/>
<%= @note.notecollection_id %>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
