<div
  ng-controller="HomeController"
  data-home-json="<%= @home_json %>"
>
  <div class="header">
    
    <div class="home__column">
      <h2 class="header__text">THREDYOU</h2>
    </div>

    <div class="home__column">
      <h2 class="header__text"></h2>
    </div>

  </div>

  <div class="controls--top-right">
    <% if user_signed_in? %>
    <p class="controls__item subdued"><%= current_user.email %></p>
    <p class="controls__item"><a ng-click="signOut('<%= destroy_user_session_url %>')">Sign out</a></p>
    <i
    class="fa fa-gear controls__item settings-button"
    ng-click="goToSettings()"
    ></i>
    <% end %>
  </div>

  <div class="content">

    <% if user_signed_in? %>
      
    <% @notes.each do |note| %>
    <div class="home__notes-list__row">

      <div
        class="home__notes-list__row__column--thanks-in"
        ng-click="goToNote('<%= note._id %>')"
      >
        <span class="home__notes-list__row__color" style="background-color:{{colors[<%= note.notecollection.notes_count %>]}}"></span>
        <p class="home__notes-list__row__thanks-in"><%= note.content %>
      </div>

      <div
        class="home__notes-list__row__column--thanks-out"
        ng-click="goToNote('<%= note._id %>')"
      >
        <span class="home__notes-list__row__color"></span>
        <p class="home__notes-list__row__thanks-out"><%= note.content %></p>
      </div>

    </div>
    <% end %>

    <% else %>
      
    <p>Sign in or sign up</p>

    



    <p><%= link_to "Register", new_user_registration_path %></p>
    <p><%= link_to "Login", new_user_session_path %></p>

    <% end %>

  </div>
</div>