<div
  ng-controller="HomeController"
  data-home-json="<%= @home_json %>"
>
  <div class="header">
    
    <div class="home__column">
      <h2 class="header__text"><%= @user.email.upcase %>'S THREDS</h2>
    </div>

    <div class="home__column">
      <h2 class="header__text">THREDDING</h2>
    </div>

  </div>

  <i
    class="fa fa-gear settings-button"
    ng-click="goToSettings()"
  ></i>

  <div class="content">
  <% @notes.each do |note| %>
    <div class="home__notes-list__row">

      <div
        class="home__notes-list__row__column--thanks-in"
        ng-click="goToNote('<%= note._id %>')"
      >
        <span class="home__notes-list__row__color" style="background-color:{{colors[<%= note.notecollection.notes_count %>]}}"></span>
        <p class="home__notes-list__row__thanks-in"><%= note.content %>
      </div>

      <div
        class="home__notes-list__row__column--thanks-out"
        ng-click="goToNote('<%= note._id %>')"
      >
        <span class="home__notes-list__row__color"></span>
        <p class="home__notes-list__row__thanks-out"><%= note.content %></p>
      </div>

    </div>
  <% end %>
  </div>
</div>