<!DOCTYPE html>
<html ng-app="TF">
<head>
  <title>Thredyou</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUaEGrcjvMfV5jnJrKxyUiShvF7Mse-Oo&sensor=false">
    </script>
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

    <%= yield %>

</body>
</html>

<%= yield :scripts %> 
