<!DOCTYPE html>
<html>
<head>
  <title>Shout</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
<div class="navbar navbar-inverse navbar-fixed-top"> <!-- style="position: static;" -->

	
		<div class="navbar-inner">
            <div class="container">
				
				<a class="brand" href="/"></a>
				<div id="nav_categories" class="nav-collapse collapse navbar-inverse-collapse">
					<% if user_signed_in? %>
						<%= image_tag current_user.avatar_url(:small) %>
						
					<% end %>
			
				<!-- <div class="btn-group">
					  <button id="button_entries" class="btn btn-inverse">Entries</button>
					  
					</div> -->
                   
                   
                <ul class="nav pull-right">
               	  <% if user_signed_in? %>
	                <li><a id="" href="<%= user_url(current_user) %>"><%= current_user.email %></a></li>
	                <li><%= link_to "Logout", destroy_user_session_url, :method => :delete %></li>
	              <% else %>
                	
                	<li><%= link_to "Register", new_user_registration_path %><br/>
                	<li><%= link_to "Login", new_user_session_path %>
                		
                    
         		  <% end %>
         		</ul>
         			</div>
			</div><!-- /.nav-collapse -->
        </div><!-- /navbar-inner -->
    </div><!--- /navbar inverse -->
</div>  <!-- container -->

  
<div class="container main_background">
	<div class="main_content">

    <%= yield %>

</div>



</body>
</html>

<%= yield :scripts %> 
